<div class="border-footer"></div>
<div class="container d-flex justify-content-between footer-content-padding">
  <div class="d-flex categorys-footer justify-content-between">
    <div>
      <div class="footer-category-name">Campany</div>
      <a href="career">
        <p>Career</p>
      </a>
      <a href="feedback">
        <p>Feedback</p>
      </a>
      <a href="/contacts">
        <p>Contacts</p>
      </a>
    </div>
    <div>
      <div class="footer-category-name">Services</div>
      <a href="terms-conditions">
        <p>TERMS AND CONDITIONS</p>
      </a>
      <a href="gift-card">
        <p>Gift Card</p>
      </a>
      <a href="corporate-clients">
        <p>Corporate clients</p>
      </a>
      <a href="kids-parties">
        <p>Kids parties</p>
      </a>
      <a href="banquets">
        <p>Banquets</p>
      </a>
    </div>
    <div>
      <div class="footer-category-name">Delivery</div>
      <a href="">
        <p>Chișinău</p>
      </a>
      <a href="">
        <p>Bălți</p>
      </a>
    </div>
  </div>
  <div>
    <form class="subscribe-form d-flex" action="">
      <input class="footer-input" type="email" placeholder="Your Email" />
      <button class="footer-button" type="submit">Subscribe</button>
    </form>
    <div class="d-flex align-items-center footer-images">
      <img src="./../../../assets/img/pays.png" alt="" />
      <a href="https://www.facebook.com/">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.instagram.com/">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>
    </div>
    <div>
      <p>Site development – ilab.md</p>
      <p>Designed by Midsun.md</p>
    </div>
  </div>
</div>
