.adress-value-required div {
  width: 49%;
}

.adress-value-unrequired div {
  width: 32%;
}
div input,
select {
  margin-top: 10px;
  font-family: "Futura New Book", sans-serif;
  border: 1px solid #bfbfbf;
  outline: 0;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 7px;
  position: relative;
  background-color: white;
  z-index: 2;
}

.adress-buttons button {
  width: 20%;
  margin: 15px 0;
  margin-right: 30px;
}

.preff {
  color: #5b5b5b;
  font-family: "Futura New Book", sans-serif;
  font-size: 1.125em;
  margin: 20px 0;
  font-weight: 700;
}

.add-item {
  color: #444;
  font-family: "Futura New Heavy", sans-serif;
  font-size: 1.225em;
  background-image: url(./../../../assets/img/add-icon.svg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 33px;
  transition: color 0.5s;
  font-weight: 700;
}

.add-item:hover {
  color: #000;
}

.password-input {
  margin-top: 10px;
  font-family: "Futura New Book", sans-serif;
  border: 1px solid #bfbfbf;
  outline: 0;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 7px;
  position: relative;
  background-color: white;
  z-index: 2;
}
