<app-header></app-header>
<swiper-container
  navigation="true"
  pagination="true"
  pagination-clickable="true"
  rewind="true"
  class="swiper-main"
>
  <swiper-slide
    ><img src="./../../../assets/img/25Aniversery.jpg" alt=""
  /></swiper-slide>
  <swiper-slide
    ><img src="./../../../assets/img/Banchets.jpg" alt=""
  /></swiper-slide>
  <swiper-slide
    ><img src="./../../../assets/img/IceCream.jpg" alt=""
  /></swiper-slide>
  <swiper-slide
    ><img src="./../../../assets/img/SummerTaste.jpg" alt=""
  /></swiper-slide>
  <swiper-slide
    ><img src="./../../../assets/img/SpecialEditionMenu.jpg" alt=""
  /></swiper-slide>
  <swiper-slide
    ><img src="./../../../assets/img/Tombola.jpg" alt=""
  /></swiper-slide>
</swiper-container>
<div class="container">
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<div class="container-regular position-relative">
  @for (item of categoryProductObj | keyvalue; track $index) {
    <app-products-slider-wrapper
      [objProducts]="item.value"
      [categoryName]="item.key"
    />
  }
</div>

<div class="life-container position-relative">
  <swiper-container class="life-swipe" thumbs-swiper=".pagination" navigation="true"  #life>
    <swiper-slide class="position-relative">
      <h1 class="position-absolute">Andys Life sycle</h1>
      <img class="" src="./../../../assets/products-img/Fasad.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="./../../../assets/products-img/Kids.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="./../../../assets/products-img/Atmosfere.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="./../../../assets/products-img/Team.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="./../../../assets/products-img/Salad.jpg" />
    </swiper-slide>
  </swiper-container>

  <div class="position-absolute mini-img">
    <swiper-container
      class="pagination"
      slides-per-view="5"
      free-mode="true"
      watch-slides-progress="true"
      space-between="10"

    >
      <swiper-slide>
        <img class="" src="./../../../assets/products-img/Fasad.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img class="" src="./../../../assets/products-img/Kids.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img class="" src="./../../../assets/products-img/Atmosfere.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="./../../../assets/products-img/Team.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="./../../../assets/products-img/Salad.jpg" />
      </swiper-slide>
    </swiper-container>
  </div>
</div>

<app-footer />
