<app-header></app-header>

<swiper-container
  navigation="true"
  pagination="true"
  pagination-clickable="true"
  rewind="true"
  class="swiper-main"
>
  <swiper-slide
    ><img src="./../../../assets/img/25Aniversery.jpg" alt=""
  /></swiper-slide>
  <swiper-slide
    ><img src="./../../../assets/img/Banchets.jpg" alt=""
  /></swiper-slide>
  <swiper-slide
    ><img src="./../../../assets/img/IceCream.jpg" alt=""
  /></swiper-slide>
  <swiper-slide
    ><img src="./../../../assets/img/SummerTaste.jpg" alt=""
  /></swiper-slide>
  <swiper-slide
    ><img src="./../../../assets/img/SpecialEditionMenu.jpg" alt=""
  /></swiper-slide>
  <swiper-slide
    ><img src="./../../../assets/img/Tombola.jpg" alt=""
  /></swiper-slide>
</swiper-container>
<div class="container">
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<!-- <button class="swiper-button-prev" (onclick)=""><i class="bi bi-chevron-left"></i></button>
<button class="swiper-button-prev" (onclick)=""><i class="bi bi-chevron-right"></i></button> -->

<app-products-slider-wrapper />
