<swiper-container navigation="true" rewind="true" slides-per-view="5 ">
  <swiper-slide class="swiper-products-slider"><app-product-card /></swiper-slide>
  <swiper-slide><app-product-card /></swiper-slide>
  <swiper-slide><app-product-card /></swiper-slide>
  <swiper-slide><app-product-card /></swiper-slide>
  <swiper-slide><app-product-card /></swiper-slide>
  <swiper-slide><app-product-card /></swiper-slide>
  <swiper-slide><app-product-card /></swiper-slide>
  <swiper-slide><app-product-card /></swiper-slide>
</swiper-container>
