<app-header isStiky="isstiky"></app-header>
<div class="container">
  <div class="section-header">Contacts</div>
  <div style="position: relative; overflow: hidden">
    <a
      href="https://yandex.com/maps/10313/kishinev/?utm_medium=mapframe&utm_source=maps"
      style="color: #eee; font-size: 12px; position: absolute; top: 0px"
      >Kishinev</a
    ><a
      href="https://yandex.com/maps/10313/kishinev/house/ZkEYfgRoTEMFQFptfXxzd3tjYQ==/?ll=28.839857%2C47.026415&utm_medium=mapframe&utm_source=maps&z=17.64"
      style="color: #eee; font-size: 12px; position: absolute; top: 14px"
      >Strada Alexandr Pușkin, 44/1 — Yandex Maps</a
    ><iframe
      src="https://yandex.com/map-widget/v1/?ll=28.839857%2C47.026415&mode=whatshere&whatshere%5Bpoint%5D=28.838686%2C47.026563&whatshere%5Bzoom%5D=17&z=17.64"
      width="100%"
      height="600"
      frameborder="1"
      allowfullscreen="true"
      style="position: relative"
    ></iframe>
  </div>
  <table class="table-contact">
    <tbody>
      <tr>
        <td>
          <h4>Delivery</h4>
          <p>
            Every day<br />
            Chișinău 24/24<br />
            Phone 022 210-210
          </p>
          <p>
            Bălți 10:00-22:00<br />
            Phone 0231 20-210
          </p>
        </td>
        <td>
          <h4>Head Office</h4>
          <p>
            Monday - Friday 9.00 - 17.30<br />

            Strada Calea Ieşilor 10, Chișinău 2069<br />

            Phone 022 265-401<br />
            office&#64;andys.md
          </p>
        </td>
        <td>
          <h4>Human Resources Department</h4>
          <p>
            Phone 022 265-426<br />
            hr&#64;andys.md
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Accounting Department</h4>
          <p>Phone 022 265-402</p>
        </td>
        <td>
          <h4>Purchaising Department</h4>
          <p>
            Phone 022 265-404<br />
            supply&#64;andys.com
          </p>
        </td>
        <td>
          <h4>Marketing</h4>
          <p>
            Phone 022 265-410<br />
            marketing&#64;andys.md
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Corporate Department</h4>
          <p>client&#64;andys.md</p>
        </td>
        <td>
          <h4>Trabo - plus SRL</h4>
          <p>
            str. A. Puskin, 32<br />
            C/F 1003600033974<br />
            TVA 0204570<br />

            cod iban: MD41MO2224ASV12595377100<br />
            BC MOBIASBANCA - GROUPE SOCIETE GENERALE SA<br />
            MOBBMD22<br />

            cod iban: MD39ML000000000225183283<br />
            BC MOLDINDCONBANK SA FIL.TELECOMTRANS<br />
            MOLDMD2X332
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>
