<app-header isStiky=""></app-header>
<div class="login-register-header">Login</div>

<div class="d-flex login-register-box container-mini">
  <div class="login-section">
    <div class="form-name">Returning Customers</div>
    <form action="">
      <div class="form-floating">
        <input
          class="login-register-inputs form-control"
          id="floatingInput"
          type="email"
          placeholder="Email"
        />
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control login-register-inputs"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <label>
        <a href="">Forgot Your Password?</a>
      </label>
      <button class="login-register-button" type="submit">Login</button>
    </form>

    <div class="header-separator d-flex align-items-center">
      <span>Create an acount</span>
    </div>
    <button class="login-register">Register</button>
  </div>
  <div class="login-with-account">
    <div class="login-accounts">Google</div>
    <div class="login-accounts">Facebook</div>
  </div>
</div>
<app-footer></app-footer>
