<div class="account-data">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <div class="account-name">Password:</div>
      <div class="account-values">{{ password }}</div>
    </div>
    <div>
      <a
        class="edit-link"
        data-bs-toggle="collapse"
        href="#collapseName"
        role="button"
        aria-expanded="false"
        aria-controls="collapseName"
      >
        Edit
      </a>
    </div>
  </div>
  <div class="collapse" id="collapseName">
    <div class="account-collapse">
      <div class="collapse-width">
        <div class="password-box">
          <span class="show-password"></span>
          <input
            class="colapse-input password-input"
            type="password"
            placeholder="Password *"
          />
        </div>
        <div class="password-box">
          <span class="show-password"></span>
          <input
            class="colapse-input password-input"
            type="password"
            placeholder="Change Password *"
          />
        </div>
        <div class="password-box">
          <span class="show-password"></span>
          <input
            class="colapse-input password-input"
            type="password"
            placeholder="Confirm Password *"
          />
        </div>
        <div>
          <button class="button-cancel">Cancel</button>
          <button class="button-edit">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
