<app-header isStiky="isstiky"></app-header>
<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="title">Delivery</h1>
    <div class="d-flex">
      <div class="location">
        <a>Chisinau</a>
      </div>
      <div class="location">
        <a>Balti</a>
      </div>
    </div>
  </div>
  <div style="position: relative; overflow: hidden">
    <a
      href="https://yandex.ru/maps?utm_medium=mapframe&utm_source=maps"
      style="color: #eee; font-size: 12px; position: absolute; top: 0px"
      >Яндекс Карты</a
    ><a
      href="https://yandex.ru/maps/?from=mapframe&ll=28.581284%2C47.166623&mode=usermaps&source=mapframe&um=constructor%3Adc6d7733e6e943769cec10add4a80872eaac335f9e5fb4f86e58640e2ab2da61&utm_medium=mapframe&utm_source=maps&z=9"
      style="color: #eee; font-size: 12px; position: absolute; top: 14px"
      >Яндекс Карты — транспорт, навигация, поиск мест</a
    ><iframe
      src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=28.581284%2C47.166623&mode=usermaps&source=mapframe&um=constructor%3Adc6d7733e6e943769cec10add4a80872eaac335f9e5fb4f86e58640e2ab2da61&utm_source=mapframe&z=9"
      width="100%"
      height="500"
      frameborder="1"
      allowfullscreen="true"
      style="position: relative"
    ></iframe>
  </div>
  <p>
    Andy's Pizza Delivery Service is available around the clock, on a daily
    basis during working days and official holidays of the Republic of Moldova
    (excluding 31 December, 1 January and the Easter Holidays).
  </p>
  <table>
    <tbody>
      <tr>
        <td>
          <h1>
            Daytime<br />
            (8:00 - 22:50​)
          </h1>
          <p>
            Daytime delivery from 8:00 to 22:50. Cost of daytime delivery - 40
            MDL.<br />
            The cost of delivery at night is 50 lei.<br />
            Free delivery is carried out for order of at least 350 MDL within
            Chisinau city (delivery map is marked in green color). Delivery is
            available in Chisinau suburbs: Cricova, Ciorescu, Stauceni,
            Gratiesti, Bubuieci, Vatra, Truseni, Tohatin, Dumbrava. Chisinau
            suburbs are served from 10:00 to 21:30 (summer time) and from 10:00
            to 21:00 (winter time). LIVRAREA PE STRADA MUNCEȘTI DE LA NR. 293 ȘI
            776, ESTE 72 LEI. Attention! Delivery of lunches in the Telecentre
            and Ciocana area is not carried out.
          </p>
        </td>
        <td>
          <h1>
            Night time<br />
            (22:50 - 8:00)
          </h1>
          <p>
            Night time delivery is available from 22:50 to 8:00. Minimum cost of
            order - 350 MDL, including night time delivery rate. The night time
            delivery rate is 50 MDL, regardless of the order value, and is
            carried out only within the delivery area of Chisinau as indicated
            on the map below.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            The following suburbs of Chisinau are served: Stauceni, Gratiesti,
            Vatra, Togatin, Dumbrava, Airport, Novobecioi, Airport town.
            Chisinau suburbs are served from 10:00 to 21:30 (summer time) and
            from 10:00 to 21:00 (winter time). The cost of delivery to the
            suburbs is 80 lei, regardless of the amount of the order. Delivery
            to Vadul Bicului, Muncesti street from number 293 and from number
            700 is 84 lei!
          </p>
        </td>
        <td>
          <p>
            Prețul unei livrări este 80 lei, indiferent de valoarea comenzii
            (harta zonelor de livrare în suburbii este marcată cu orange).
            Atenție! Livrarea de prânz nu se efectuează în sectorul "Telecentru"
            și "Ciocana".
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <h2>Duration of delivery</h2>
          <p>
            Estimated duration of delivery ≈ 40 min. Duration of delivery may
            vary depending on order value, as well as weather and road
            conditions.
          </p>
        </td>
        <td>
          <h2>Ordering by phone</h2>
          <p>
            To order by phone, please, contact the call-center operator at
            +373(22)210-210. You can place an order for delivery or a pre-order
            at any of our locations (with you or on-site).
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <h2>On-line ordering through www.andys.md</h2>
          <p>
            When ordering on-line through the web-site, the call-center operator
            will call you within 7 minutes after ordering to confirm the order.
            Important: Indicate your correct contact phone number so as our
            operator can confirm your order. If you are not called back, please,
            contact us at the phone number +373(22)210-210. Order that was not
            confirmed will be cancelled.
          </p>
        </td>
        <td>
          <h2>Payment</h2>
          <p>
            La efectuarea comenzii, plata se poate efectua în următoarele
            moduri:
          </p>
          <ul>
            <li>cash upon receipt of order;</li>
            <li>
              by credit cards (VISA, MasterCard, Maestro) upon receipt of order;
            </li>
            <li>by credits cards on our web-site.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="receipt">
    <h2>Receipt of order</h2>
    <p>
      Upon receipt of order, make sure to obtain a fiscal receipt and a
      slip-check (provided that you paid by credit card). Request additional
      documents in advance from the call-center operator. Upon receipt of order
      check the number and range of order according to the check.
    </p>
  </div>
  <a class="menu">Go to menu</a>
</div>
<app-footer></app-footer>
