<form class="account-data">
  <div class="account-row">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <div class="account-name">Name:</div>
        <div class="account-values">{{ personalData.name }}</div>
      </div>
      <div>
        <a
          class="edit-link"
          data-bs-toggle="collapse"
          href="#collapseName"
          role="button"
          aria-expanded="false"
          aria-controls="collapseName"
        >
          Edit
        </a>
      </div>
    </div>
    <div class="collapse" id="collapseName">
      <div class="account-collapse">
        <div class="collapse-width">
          <input
            class="colapse-input"
            type="text"
            value="{{ personalData.name }}"
          />
          <div>
            <button class="button-cancel">Cancel</button>
            <button class="button-edit">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="account-row">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <div class="account-name">Email:</div>
        <div class="account-values">{{ personalData.email }}</div>
      </div>
      <div>
        <a
          class="edit-link"
          data-bs-toggle="collapse"
          href="#collapseEmail"
          role="button"
          aria-expanded="false"
          aria-controls="collapseEmail"
        >
          Edit
        </a>
      </div>
    </div>
    <div class="collapse" id="collapseEmail">
      <div class="account-collapse">
        <div class="collapse-width">
          <input
            class="colapse-input"
            type="text"
            value="{{ personalData.email }}"
          />
          <div>
            <button class="button-cancel">Cancel</button>
            <button class="button-edit">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="account-row">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <div class="account-name">Phone:</div>
        <div class="account-values">{{ personalData.phone }}</div>
      </div>
      <div>
        <a
          class="edit-link"
          data-bs-toggle="collapse"
          href="#collapsePhone"
          role="button"
          aria-expanded="false"
          aria-controls="collapsePhone"
        >
          Edit
        </a>
      </div>
    </div>
    <div class="collapse" id="collapsePhone">
      <div class="account-collapse">
        <div class="collapse-width">
          <input
            class="colapse-input"
            type="text"
            value="{{ personalData.phone }}"
          />
          <div>
            <button class="button-cancel">Cancel</button>
            <button class="button-edit">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="account-row">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <div class="account-name">City:</div>
        <div class="account-values">{{ personalData.city }}</div>
      </div>
      <div>
        <a
          class="edit-link"
          data-bs-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Edit
        </a>
      </div>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="account-collapse">
        <div class="collapse-width">
          <input
            class="colapse-input"
            type="text"
            value="{{ personalData.city }}"
          />
          <div>
            <button class="button-cancel">Cancel</button>
            <button class="button-edit">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
